<%- include('partials/_header') %>

<div class="container">
    <div class="row">
        <!-- FORMULARIO -->
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <form action="/edit/<%= task._id %>" method="POST">
                        <div class="form-group">
                            <input type="text" name="title" placeholder="Digite un Titulo" class="form-control"
                            value="<%= task.title %>">
                        </div>
                        <div class="form-group">
                            <textarea name="description" id="" cols="80" class="form-control" placeholder="insert a descrption">
                                <%= task.description %>
                            </textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">
                            Actualizar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/_footer') %>