<%- include('partials/_header') %>

<div class="container">
    <div class="row">
        <!-- FORM -->
        <div class="col-6 col-md-8">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="title" placeholder="Digite un Titulo" class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea name="description" id="" cols="60" class="form-control" placeholder="Digite una descripción"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">
                            Insertar
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- LIST -->
        <div class="col-md-10">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Numero</th>
                        <th>Titulo</th>
                        <th>Descripción</th>
                        <th>Operación</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < tasks.length; i++) { %>
                        <tr>
                            <td><%= i + 1 %></td>
                            <td><%= tasks[i].title %></td>
                            <td><%= tasks[i].description %></td>
                            <td>
                                <a href="/turn/<%= tasks[i]._id %>"
                                     class="btn <%= tasks[i].status ? 'btn-success' : 'btn btn-warning' %>">
                                     Done
                                </a>
                                <a href="/delete/<%= tasks[i]._id %>" class="btn btn-danger">Borrar</a>
                                <a href="/edit/<%= tasks[i]._id %>" class="btn btn-secondary">Editar</a>
                            </td>
                        </tr>>

                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('partials/_footer') %>
